.input {
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font: 400 16px/16px "Roboto", sans-serif;
  box-shadow: 0px 0px 0px 2px #a0a0a0, inset 0px 0px 10px 1px #141414, 5px 5px 15px 5px rgb(0 0 0 / 0%);
}
