.post-wrapper {
  margin: 10px 20px;
  color: #000;
  
  .post {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;

    a {
      color: #000;
    }
  }
}
