.list-item {
  width: 100%;
  height: 50px;
  background: #ffffff;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  font: 500 16px/16px "Roboto", sans-serif;
  margin-bottom: 10px;
  box-shadow: 0px 0px 0px 2px #a0a0a0, inset 0px 0px 10px 1px #141414, 5px 5px 15px 5px rgb(0 0 0 / 0%);

  &:last-child {
    margin-bottom: 0;
  }

  .button-group {
    display: flex;
    margin-left: 10px;

    .button {
      width: 40px;
      height: 30px;
      margin: 0 5px;

      &:first-child .button__handler {
        background-color: rgb(14, 139, 211);
      }

      &:last-child .button__handler {
        background-color: rgb(230, 45, 45);
      }
    }
  }
}
